<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <h1>Station de Bus<a href="http://localhost:3000/">Bike station</a>, <a href="http://localhost:3000/metro"> Metro link</a></h1>
  <body>
	<% for(i=0; i< data.length; i++){ %>
		<li> Nom: <%= data[i].Stop_name%> </li>
		<li> Longitude: <%= data[i].Stop_lon%> </li>
		<li> Latitude: <%= data[i].Stop_lat%> </li>
		<hr>
	<% } %>	
	
  </body>
</html>
