<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <h1>Station de Vélos <a href="http://localhost:3000/bus">Bus link</a>, <a href="http://localhost:3000/metro"> Metro link</a></h1>
  <body>
	<% for(i=0; i< data.opendata.answer.data.station.length; i++){ %>
		<li> Nom: <%= data.opendata.answer.data.station[i].name%> </li>
		<li> Longitude: <%= data.opendata.answer.data.station[i].longitude%> </li>
		<li> Latitude: <%= data.opendata.answer.data.station[i].latitude%> </li>
		<hr>
	<% } %>	
	
  </body>
</html>