<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<% for(i=0; i< data.opendata.request.answer.data.station.length; i++){ %>
		<li> <%= data.opendata.request.answer.data.station[i]%> </li>
	<% } %>	
	
  </body>
</html>