body{font-family: Ubuntu, 'Trebuchet MS', Helvetica, GillSans, Calibri, Arial, sans-serif;}
.commentaires, .onglets, #imprimer .actions, #imprimer h3, h2, #trouvez, #resultats, #moncompte, #perturbations, #connexion, #explorez, #filtres-bouton, #filtres, #footer { display:none; } 
#map{display:block; width:650px; height: 450px;}
#imprimer .contenu, #imprimer {display:block;}
#header h1 {font-size:1.35em;}
h5 {font-size:1.2em;}
.photo { float: left; margin-right:0.8em;margin-bottom:0.8em; }
.auteur {font-style:italic;}
.poi {font-size:1.1em;padding:0.25em;background:#DEB887;font-weight:bold;}
li {margin-bottom:0.25em;}