/****************** GENERAL ******************/

body, html {
    height: 100%;
    color: #202020;
    overflow: hidden;
    font-size: 0.8em !important;
}
a:hover {
    color: #1780E9;
}
a {
    text-decoration: none;
    color: #707070;
}

.clr-velostar {
	color: #2cb34a;
}

.clr-bus {
	color: #ffb20d;
}

.clr-metro {
	color: #ef4a43;
}

.clr-velo {
	color: #1780e9;
}

.clr-pieton {
	color: #ffb20d;
}
.clr-user {
	color: #505050;
}
.clr-logo {
	color: #d1d1d1;	
}

.bouton {
    -moz-border-radius: 8px 8px 8px 8px;
    -moz-box-shadow: 0 1px 1px #FFFFFF inset;
	-webkit-border-radius: 8px 8px 8px 8px;
    -webkit-box-shadow: 0 1px 1px #FFFFFF inset;
    background: none repeat scroll 0 0 #696969;
    border: 1px solid #C4C4C4;
    color: #111111;
    font-size: 1em;
    letter-spacing: 0.05em;
    margin: 15px 0 0 !important;
    padding: 0.3em 1em;
}
.bouton.petit {
    -moz-border-radius: 6px;
	-webkit-border-radius: 6px;
    padding: 0.2em 0.5em;
}
.bouton:hover {
	background:#E4E4E4;
    background: -moz-linear-gradient(center bottom , #D4D4D4 50%, #E4E4E4 100%) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, 0% 0%, 0% 50%, from(#D4D4D4), to(#E4E4E4), color-stop(0,#D4D4D4)) repeat scroll 0 0 transparent;
    border: 1px solid #B4B4B4;
    color: #1780E9;
	text-shadow: 0px 1px 0px #fff;
}

.bouton:active {
    background: #B4B4B4 !important;
    color: #fff;
    border: 1px solid #777 !important;
}

/****************** HEADER ******************/

#header {
    margin: 0 -1.25em;
	width:100%;
	overflow:hidden;
}

#contenu-header {
    padding: 1em 0 1em 1.5em;
}
#header h1 span {
    font-weight: bold;
}
#header h1{
    background: url("bma.png") no-repeat scroll left top ;
    color: #111111;
	height: 100px;
    text-indent: -20px ;
	font-style: italic;
    width: 300px;
    top: 50px;
	padding-left: 5px;
    font-style: italic;
    padding-left: 105px;
    margin-top: 0.50em
}


/****** SCROLLER ******/


/****************** SIDEBAR ******************/
#autoursidebar.site404 #header h1{
    display: none;
}
#autoursidebar {
    float: left;
    height: 95%;
    overflow: hidden;
	overflow-x: hidden;
    position: relative;
    top: 0;
    width: 30%;
	z-index:555;
}
#autoursidebar.site404 a {
    color: #BABABA;
    font-size: 1.25em;
}
#autoursidebar.site404 h2 {
    color: #FFFFFF;
    margin-top: 10px;
    margin-bottom: 10px;
}
#sidebar {
    background: none repeat scroll 0 0 #778899;
    height: 100%;
    left: 0;
    overflow: auto;
    top: 0;
    width: 100%;
	overflow-x: hidden;
}
#sidebar h3 {
    -moz-border-radius: 8px 8px 0 0;
	-webkit-border-radius: 8px 8px 0 0;
    -moz-box-shadow: 0 2px 6px #000000 inset;
    background: url("../images/sprite.png") no-repeat scroll 12px -380px #1E1D20;
    color: #FAFAFA;
    cursor: pointer;
    font: 1.4em 'Ubuntu',Arial,sans-serif;
	font-weight:bold;
    letter-spacing: 0.05em;
    margin-bottom: 1px;
    margin-top: 0.8em;
    padding: 0.5em 1em 0.5em 32px;
}
#sidebar .module h3.ferme {
    -moz-border-radius: 8px 8px 8px 8px;
	-webkit-border-radius: 8px 8px 8px 8px;
    background: url("../images/sprite.png") no-repeat scroll 13px -470px #1E1D20;
    padding: 0.5em 1em 0.5em 32px;
}
.module .contenu > .contenu {
	background:#FAFAFA;
    background: -moz-linear-gradient(center top , #D4D4D4 0%, #E8E8E8 8px, #FAFAFA 18px) repeat scroll 0 0 #FAFAFA;
	background: -webkit-gradient(linear, 0% 0%, 0% 12%, from(#E8E8E8), to(#FAFAFA), color-stop(0,#D4D4D4))	 repeat scroll 0 0 #FAFAFA;

}
#moncompte .contenu > .contenu {
    padding: 0.5em;
}
.module > .contenu {
	background:#FAFAFA;
    background: -moz-linear-gradient(center top , #D4D4D4 0%, #E8E8E8 8px, #FAFAFA 18px) repeat scroll 0 0 #FAFAFA;
	background: -webkit-gradient(linear, 0% 0%, 0% 7%, from(#E8E8E8), to(#FAFAFA), color-stop(0,#D4D4D4))	 repeat scroll 0 0 #FAFAFA;
	-moz-border-radius: 0px 0px 8px 8px
	-webkit-border-radius: 0px 0px 8px 8px
}
#contenu-sidebar {
    padding: 0 1.25em 3% 1.25em;
}

.erreur {
    -moz-border-radius: 8px 8px 8px 8px;
    -moz-box-shadow: 1px 1px 0 #050505 inset;
	-webkit-border-radius: 8px 8px 8px 8px;
    -webkit-box-shadow: 1px 1px 0 #050505 inset;
    background: url("../images/err-aide-charg.png") no-repeat scroll 10px 9px #FFFD8B;
    color: #222222;
    font-size: 1.25em;
    letter-spacing: 0.04em;
    line-height: 1.1em;
    margin-top: 0.95em;
    padding: 0.5em 0.5em 0.5em 51px;
	min-height: 32px;
}
.aide p {
    margin-left: 6px;
}
.aide.chargement p {
    margin-top: 8px;
	font-size: 120%;
}
.aide {
    -moz-border-radius: 8px 8px 8px 8px;
	-webkit-border-radius: 8px 8px 8px 8px;
    background: #fff;
	background: none repeat scroll 0 0 rgba(255,255,255, 0.8);
    color: #333;
    left: 30%;
    margin: 1%;
    padding: 0.5% 0.75%;
    position: fixed;
    top: 0;
    width: 30%;
    -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.7);
	-webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.7);
	display:none;
	z-index:888;
}
.aide.chargement {width:auto;}
/*.aide-icone {
    background: url("../images/err-aide-charg.png") no-repeat scroll 0 -118px transparent;
    display: block;
    float: left;
    height: 32px;
    margin-right: -32px;
    width: 30px;
}*/
.aide.chargement .aide-icone {
    background: url("../images/err-aide-charg.png") no-repeat scroll 0 -236px transparent;
}
.aide-fermer:hover {color:#1780E9;cursor:pointer;}
.aide-fermer {
    display: block;
    position: relative;
    float: right;
	font-weight:bold;
}
.aide.chargement .aide-fermer {display:none;}

#perturbations .description {
    clear: both;
    margin-bottom: 1.5em;
}
#perturbations .date {
    margin-right: 1em;
    clear: left;
}
#perturbations .importance, #perturbations .date {
    float: left;
    font-style: italic;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
#perturbations h6:hover {
    cursor: pointer;
    background: #DADADA;
}
.perturbation .perturbation-contenu {
    display: none;
}
#perturbations h6 {
    font-size: 1.25em;
    margin-top: 0.5em;
}
#perturbations img {
    float: left;
    margin-right: 10px;
}

/****************** TROUVEZ ******************/

#trouvez > .contenu, #perturbations > .contenu {
    padding: 4px 1em 0.5em 1em;
    -moz-box-shadow: 0px 2px 12px rgba(0,0,0,0.75);
	-webkit-box-shadow: 0px 2px 12px rgba(0,0,0,0.75);
    overflow:hidden;
	-moz-border-radius: 0 0 8px 8px;
	-webkit-border-radius: 0 0 8px 8px;
}
.onglets .actif + .onglet {
    border-left: none;
}
#trouvez .onglet, #connexion .onglet {
    text-align: center;
    text-indent: 0px;
}
.onglets .actif {
    background: none repeat scroll 0 0 transparent;
    border-bottom: medium none;
    margin-top: -5px;
    padding-top: 10px;
    border-right: 1px dotted black;
    font-weight: bold;
}

#trouvez div#tags, #trouvez div#mots, #trouvez div#autour, #connexion div#enregistrer, #connexion div#motdepasseperdu { display:none; }
#trouvez div#classique, #trouvez div#tags, #trouvez div#mots {
    margin-top: 0.75em;
}
input#mots {
    text-indent: 2.95em;
}
input#tags {
    text-indent: 2.6em;
}
#pos-depart, #pos-arrivee {
    text-indent: 2em;
}
#pos-depart, #pos-arrivee, .pos-etape, input#tags, input#mots {
    border: 0 none;
    float: right;
    font-size: 1.25em;
    height: 1.5em;
    letter-spacing: 0.025em;
    margin-bottom: 7px;
    padding: 0.15em 0;
    width: 100%;
}
.pos-label, .pos-etape-label {
    color: #999999;
    display: block;
    height: 0 !important;
    left: 9px;
    position: relative;
    text-align: right;
    top: 0.5em;
    width: 1.25em;
}
.pos-etape-label {
    left: 24px;
    top: 0.25em;
}
.pos-etape {
    font-size: 1em;
    height: 1.5em;
    padding-top: 0.15em;
    text-indent: 2.8em;
    width: 96%;
}
#trouvez a.actiontexte {
    line-height: 1.5em;
}
#trouvez .actiontexte span {
    color: #2CB34A;
    font-weight: bold;
}
#trouvez a.actiontexte:after {
    content: "";
    display: block;
    width: 0px;
    height: 0px;
}
#rechercher, #rechercher-tags, #rechercher-mots {
    float: right;
	margin-top: 1.5em !important;
    padding: 0.75em 1em;
    font-size: 1.2em;
    font-weight: bold;
    position: relative;
    top: -0.75em;
	width: 50%;
}


#trouvez input[type="text"], #connexion input[type="email"], #connexion input[type="text"], #connexion input[type="password"], #enregistrer input[type="text"] {
    -moz-border-radius: 30px 30px 30px 30px;
	-webkit-border-radius: 30px 30px 30px 30px;
    -moz-box-shadow: 0px 1px 2px rgba(0,0,0, 0.25) inset;
    background: -moz-linear-gradient(center top , #FFF 50%, #F6F6F6 100%) repeat scroll 0 0 #FAFAFA;
	background: -webkit-gradient(linear, 0% 0%, 0% 50%, from(#F6F6F6), to(#FAFAFA), color-stop(0,#FFF))	 repeat scroll 0 0 #FAFAFA;
    border: 1px solid #B3B3B3;
}

#trouvez input[type="text"]:focus, #connexion input[type="text"]:focus, #connexion input[ty²pe="email"]:focus, #connexion input[type="password"]:focus, #connexion input[type="text"]:focus, .poi-user:focus {
    -moz-box-shadow: 0 0 2px #1780E9;
	-webkit-box-shadow: 0 0 2px #1780E9;
    border: 1px solid #1780E9;
}



/****************** ITINERENNES ******************/

.iti-box {
    overflow:hidden;
}
.iti-box:hover h5 {
	background: #F2F2F2;
    background: -moz-linear-gradient(center top , #BBB 0%, #E6E6E6 8px, #F2F2F2 18px) repeat scroll 0 0 #F2F2F2;
	background: -webkit-gradient(linear, 0% 0%, 0% 15%, from(#BBBBBB), to(#F2F2F2), color-stop(0, #E6E6E6));
}
.iti-box:hover .contenu {
    background: none repeat scroll 0 0 #F2F2F2;
}
.iti-box h5 {
    font-size: 1.1em;
    margin-left: 0;
    padding: 4px 6px 2px 7px;
    margin-top: 1px;
    background:#FAFAFA;
    background: -moz-linear-gradient(center top , #D4D4D4 0%, #E8E8E8 8px, #FAFAFA 18px) repeat scroll 0 0 #FAFAFA;
	background: -webkit-gradient(linear, 0% 0%, 0% 15%, from(#D4D4D4), to(#FAFAFA), color-stop(0, #E8E8E8));
}
.iti-box h5 span {
    color: #858585;
    font-size: 0.85em;
    font-style: italic;
    font-weight: normal;
}
.iti-box h5, .iti-box .contenu {
	border-left: 4px solid #505050;
    border-right: 4px solid #505050;
}
.iti-box.velo h5 a{color: #1780E9;}
.iti-box.velo h5, .iti-box.velo .contenu {
    border-color: #1780E9;
}
.iti-box.pieton h5 a{color: #ffb20d;}
.iti-box.pieton h5, .iti-box.pieton .contenu {
    border-color: #ffb20d;
}
.iti-box.velostar h5 a{color: #2CB34A;}
.iti-box.velostar h5, .iti-box.velostar .contenu {
    border-color: #2CB34A;
}
.iti-box.metro h5 a{color: #EF4A43;}
.iti-box.metro h5, .iti-box.metro .contenu {
    border-color: #EF4A43;
}
.iti-box.bus h5 a{color: #FFB20D;}
.iti-box.bus h5, .iti-box.bus .contenu {
    border-color: #FFB20D;
}

.iti-box.pieton .actions, .iti-box.pieton .partage-boutons {
    border-top: 1px dotted #ffb20d;
}
.iti-box.velo .actions, .iti-box.velo .partage-boutons {
    border-top: 1px dotted #1780E9;
}
.iti-box.velostar .actions, .iti-box.velostar .partage-boutons {
    border-top: 1px dotted #2CB34A;
}
.iti-box.bus .actions, .iti-box.bus .partage-boutons {
    border-top: 1px dotted #FFB20D;
}
.iti-box.metro .actions, .iti-box.metro .partage-boutons {
    border-top: 1px dotted #EF4A43;
}
.iti-box.pieton .actions span:hover, .iti-box.pieton .actions a:hover, .iti-box.pieton a:hover {
    color: #ffb20d !important;
}
.iti-box.velo .actions span:hover, .iti-box.velo .actions a:hover, .iti-box.velo a:hover {
    color: #1780E9 !important;
}
.iti-box.velostar .actions span:hover, .iti-box.velostar .actions a:hover, .iti-box.velostar a:hover {
    color: #2CB34A !important;
}
.iti-box.bus .actions span:hover, .iti-box.bus .actions a:hover, .iti-box.bus a:hover {
    color: #FFB20D !important;
}
.iti-box.metro .actions span:hover, .iti-box.metro .actions a:hover, .iti-box.metro a:hover {
    color: #EF4A43 !important;
}
.itineraire li {
    margin-left: 0;
}
.iti-box .commentaires {
    padding: 0.75em 1em;
}
.iti-box .commentaires li.admin {
    background: #d7e2ff;
    color: #444;
    -moz-box-shadow: 0 1px 2px #9fb9fb inset, 3px 2px 3px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 1px 2px #9fb9fb inset, 3px 2px 3px rgba(0, 0, 0, 0.2);
}
.ajout-commentaire textarea {
    width: 89%;
    margin: 0 2%;
    height: 5em;
    margin-bottom: 3px !important;
}
.iti-box .commentaires li, .ajout-commentaire textarea {
    -moz-border-radius: 10px 10px 10px 10px;
    -moz-box-shadow: 0 1px 2px #EACC7D inset, 3px 2px 3px rgba(0, 0, 0, 0.2);
    background: none repeat scroll 0 0 #FFFEB9;
    font-size: 0.95em;
    font-style: italic;
    margin-bottom: -10px;
    margin-top: 6px;
    padding: 0.6em 1em;
    border: none;
}
.iti-box .commentaires .auteur, .iti-box .commentaires .auteur.admin {
    background: none repeat scroll 0 0 transparent;
    font-style: normal;
    margin-bottom: 0;
    font-size: 1em;
    -moz-box-shadow: none;
	-webkit-box-shadow: none;
}
.iti-box .commentaires .auteur.droite {
    float: right;
}
.iti-box .commentaires .auteur.gauche {
    float: left;
}
.iti-box .commentaires .auteur.admin.gauche:after, .iti-box .commentaires .auteur.admin.droite:after {
    background: url("../images/commentaires-tip-admin.png") no-repeat scroll 0 0 transparent;
}
.iti-box .commentaires .auteur.gauche:after {
    background: url("../images/commentaires-tip.png") no-repeat scroll 0 0 transparent;
    content: "";
    display: block;
    float: right;
    height: 17px;
    margin-left: 0.2em;
    margin-top: -4px;
    width: 22px;
}
.iti-box .commentaires .auteur.droite:after {
    background: url("../images/commentaires-tip.png") no-repeat scroll 0 0 transparent;
    content: "";
    display: block;
    float: right;
    height: 17px;
    margin-right: 2.75em;
    margin-top: -4px;
    width: 22px;
}
.ajout-commentaire {
    padding: 0 5px;
}
.ajout-commentaire input[type="submit"] {
    float: right;
    margin: 1em 0.75em !important;
}
.iti-box .commentaires .auteur:last-child {
    margin-bottom: 0.4em;
}
.contenu .iti-box .poi.user:before {
    background: url("../images/gmmarker-user.png") no-repeat scroll 0 0 transparent;
}
.iti-box .poi:last-child {
    margin-bottom: 15px;
}
.iti-box .poi:first-child {
    margin-top: 11px;
}
.contenu .iti-box .poi.user {
    color: #505050;
}
.iti-box .poi:hover {
    position: relative;
    left: 3px;
    -moz-border-radius: 8px;
}
.iti-box .poi:before {
    content: "";
    display: block;
    float: left;
    height: 22px;
    left: -25px;
    margin-right: 17px;
    position: absolute;
    width: 22px;
	margin-top: -2px
}
.iti-box .poi:after {
    clear: left;
    content: "";
    display: block;
    height: 1px;
}
.iti-box.pieton .poi:before {
    background: url("../images/gmmarker-pieton.png") no-repeat scroll 0 0 transparent;
}
.iti-box.pieton .poi {
    color: #ffb20d;
}
.iti-box.velo .poi:before {
    background: url("../images/gmmarker-velo.png") no-repeat scroll 0 0 transparent;
}
.iti-box.velo .poi {
    color: #1780E9;
}
.iti-box.velostar .poi:before {
    background: url("../images/gmmarker-velostar.png") no-repeat scroll 0 0 transparent;
}
.iti-box.velostar .poi {
    color: #2CB34A;
}
.iti-box.bus .poi:before {
    background: url("../images/gmmarker-bus.png") no-repeat scroll 0 0 transparent;
}
.iti-box.bus .poi {
    color: #FFB20D;
}
.iti-box.metro .poi:before {
    background: url("../images/gmmarker-metro.png") no-repeat scroll 0 0 transparent;
}
.iti-box.metro .poi {
    color: #EF4A43;
}
.iti-box .itineraire li {
    line-height: 1em;
    margin-bottom: 0.5em;
    margin-left: 35px;
}
.iti-box ol {
    margin: 0 !important;
}
.iti-box .poi {
    font-size: 1.1em;
    font-weight: bold;
    line-height: 1.2em;
    margin-left: 35px;
    position: relative;
    padding: 0.25em 0 0 0;
}
.poi-user {
    border: 1px dotted #505050;
    height: 1.5em;
    margin: 10px 0 2px;
    width: 82%;
}
.poi-user-marker {
    display: block;
    width: 18px;
    height: 18px;
    background: url("../images/gmmarker-user.png") 0 0 no-repeat transparent;
    float: left;
    margin: 12px 7px 0px 10px;
}
.iti-box .photo {
    float: left;
    margin-right: 0.5em;
    margin-top: 0.5em;
	width:65px;
	height:65px;
     -moz-box-shadow: 1px 1px 1px #FAFAFA, 1px 3px 4px rgba(50,50,50,0.25);
	 -webkit-box-shadow: 1px 1px 1px #FAFAFA, 1px 3px 4px rgba(50,50,50,0.25);
}
.iti-box .contenu a.photo-upload {
    background: none repeat scroll 0 0 #DADADA;
    float: left;
    left: -65px;
    margin-left: -0.5em;
    position: relative;
    width: 65px;
    top: 6px;
    height: 65px;
    background: rgba(255,255,255,0.75);
    text-align: center;
    margin-right: -100%;
}
.iti-box img.photo + p.desc, .iti-box img.photo + p.desc + .clearfix + p.auteur {
    margin-left: 77px;
}
.iti-box p {
    font-size: 0.95em;
    margin-left: 0.5em;
    margin-top: 0.4em;
}
.iti-box .auteur {
    display: block;
    font-style: italic;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}
.iti-box.pieton .contenu {
	border-top: 1px dotted #ffb20d;
}

.iti-box.velo .contenu {
    border-top: 1px dotted #1780e9;
}

.iti-box.velostar .contenu {
    border-top: 1px dotted #2cb34a;
}

.iti-box.bus .contenu {
    border-top: 1px dotted #ffb20d;
}

.iti-box.metro .contenu {
    border-top: 1px dotted #ef4a43;
}
.iti-box .contenu {
    margin-bottom: 0;
    padding: 0.5em 0.5em 0 0.5em;
    background: #FAFAFA;
    overflow:hidden;
}
/****************** FOOTER ******************/

#footer {
    background: none repeat scroll 0 0 #1E1D20;
    bottom: 0;
    color: #FFFFFF;
    left: 0;
    position: fixed;
    width: 30%;
	height:5%;
	overflow:hidden;
    -moz-box-shadow: 0px 3px 6px rgba(0,0,0,0.4) inset, 0px 1px 13px rgba(250,250,250,0.2);
	border-top: 1px solid #1E1D20;
    -webkit-box-shadow: 0px 1px 13px rgba(250,250,250,0.2);
}
#menu a:last-child {
    border-right: none;
    margin-right: -1em;
}
#footer a {
    text-shadow: 1px 1px 2px rgba(0,0,0,1);
}
#menu a {
    margin: 0.75em 0;
    border-right: 1px solid #444;
    padding-right: 1em;
    display: inline-block;
    padding-left: 1em;
}
#menu {
    float: right;
	margin-right: 1.25em;
}
#actionstaille {
    margin: 0.6em 1em;
}

/****************** FILTRES ******************/

#legende-depart {
    background-position: 0 10px;
}
#legende-arrivee {
    background-position: 0 10px;
}
#legende-user {
    background-position: 0 10px;
}
#legende-velostar {
    background-position: 0 10px;
}
#legende-bus {
    background-position: 0 10px;
}
#legende-metro {
    background-position: 0 10px;
}
#legende-cb {
    background-position: 0 -1628px;
}
#legende-lignebus {
    background-position: 0 10px;
}
#legende-oeil {
    background-position: 0 -1443px;
}
#legende-enregistrer {
    background-position: 0 -1555px;
}
#legende-editer {
    background-position: 0 -1240px;
}
#legende-annuler {
    background-position: 0 -1399px;
}
#legende-valider {
    background-position: 0 -1293px;
}
#legende-publier {
    background-position: 0 -1706px;
}
#legende-supprimer {
    background-position: 0 -1786px;
}
#legende-favoriser {
    background-position: 0 -939px;
}
#legende-imprimer {
    background-position: 0 -308px;
}
#legende-vote {
    background-position: 0 -571px;
}
#legende-partagesocial {
    background-position: 0 -89px;
}
#legende-depart, #legende-arrivee, #legende-user, #legende-velostar, #legende-bus, #legende-metro, #legende-cb, #legende-lignebus, #legende-oeil, #legende-enregistrer, #legende-editer, #legende-annuler, #legende-valider, #legende-publier, #legende-supprimer, #legende-favoriser, #legende-imprimer, #legende-vote, #legende-partagesocial {
    background-image: url("../images/sprite.png");
    background-repeat: no-repeat;
    text-indent: 18px;
    min-height: 17px;
}
		
#filtres input:checked + label {
    background: #D9D9D9;
}
#legende h6 {
    margin-top: 0.75em;
}
#legende-titre {
    border-bottom: 1px dotted #999;
    padding-bottom: 0.15em;
    font-size: 1.25em;
    margin-bottom: 0.1em;
}
#legende div {
    font-size: 0.85em;
}
#filtres input[type="checkbox"] {
    float: left;
    margin-right: 7px;
    position: relative;
    top: 0.095em;
}
#filtres input + label:hover {
    border-color: #333333;
    cursor: pointer;
}
#filtres .colonne {
    margin: -50px 0 -6px 0;
	 height: 30%;
}
#filtres .colonne, #filtres #legende {
    float: left;
    padding: 10px 5%;
    width: 90%;
}
#legende {
	display:none;
    height: 60%;
    overflow: scroll;
    overflow-x: hidden;
    width: 85% !important;
}
#filtres input + label {
    margin-bottom: 0.25em;
    width: 97%;
    border: 1px dotted #999;
    display: block;
    padding: 0.15em;
    font-size: 1.25em;
    line-height: 1.2em;
}
#filtres-bouton-texte {
    content: "";
    display: block;
    width: 13px;
    height: 93px;
    background: url("../images/sprite.png") no-repeat scroll 0 -1830px transparent;
    position: relative;
    top: 8px;
    left: 12px;
}
#filtres-bouton {
    -moz-border-radius: 10px 0 0 10px;
    -moz-box-shadow: -1px 0 15px rgba(15, 15, 15, 0.4);
	-webkit-border-radius: 10px 0 0 10px;
    -webkit-box-shadow: -1px 0 15px rgba(15, 15, 15, 0.4);
	background: #444;
    background: none repeat scroll 0 0 rgba(15, 15, 15, 0.7);
    height: 111px;
    left: -31px;
    margin-top: -50px;
    position: relative;
    top: 50%;
    width: 31px;
}
#filtres {
    -moz-border-radius: 20px 0 0 20px;
	-webkit-border-radius: 20px 1px 1px 20px;
	background:#FAFAFA;
    background: rgba(252,252,252, 0.85);
    color: #000;
    height: 40%;
    position: absolute;
    right: -24.8%;
    top: 30%;
    width: 25%;
    -moz-box-shadow: -1px 3px 15px rgba(15, 15, 15, 0.6);
	-webkit-box-shadow: -1px 3px 15px rgba(15, 15, 15, 0.6);
	z-index:998;
}


/****************** AFFICHAGE PAR DEFAUT ******************/
#resultats, .iti-box .contenu {
    display: none;
}
#explorez .contenu > .contenu {
    background: none repeat scroll 0 0 transparent;
}
.actions .partagesocial:hover {
    background: url("../images/sprite.png") no-repeat scroll 0 2px transparent;
}
.actions .partagesocial {
    background: url("../images/sprite.png") no-repeat scroll 0 -88px transparent;
    text-indent: 18px;
}
.actions .imprimable {
    background: url("../images/sprite.png") no-repeat scroll 0 -306px transparent;
    text-indent: 18px;
}
.actions .imprimable:hover {
    background: url("../images/sprite.png") no-repeat scroll 0 -204px transparent;
}
.actions .favoriser:hover, .actions .favoriser.hasfav {
	background: url("../images/sprite.png") no-repeat scroll 0 -1028px transparent;
}
.actions .favoriser {
    background: url("../images/sprite.png") no-repeat scroll 0 -938px transparent;
    height: 18px;
    text-indent: 18px;
}
.actions .editer:hover {
    background: url("../images/sprite.png") no-repeat scroll 0 -1346px transparent;
}
.actions .editer {
    background: url("../images/sprite.png") no-repeat scroll 0 -1238px transparent;
    height: 18px;
    text-indent: 18px;
}
.actions .valider {
    background: url("../images/sprite.png") no-repeat scroll 0 -1292px transparent;
    height: 21px;
    text-indent: 17px;
    margin-left: 4px;
}
.actions .annuler {
    background: url("../images/sprite.png") no-repeat scroll 0 -1399px transparent;
    height: 21px;
    text-indent: 21px;
}
.actions .annuler:hover, .actions .valider:hover, .actions .partagesocial:hover, .actions .vote:hover, .actions .editer:hover, .actions .favoriser:hover, .actions .imprimable:hover, a.onglet:hover, .oeil:hover {
    cursor: pointer;
}
.photo-upload, .photo-upload-input, .iti-box.user .favoriser, #imprimer, #resultats .iti-box.tempo .desc, #resultats .iti-box.tempo .auteur, .iti-box.tempo .actions .vote, .iti-box.tempo .actions .partagesocial, .iti-box.tempo .iti-box h5 .tags, .iti-box.tempo .actions .publier, #imprimer .actions, .iti-box .actions .valider, .iti-box .actions .annuler {	    
	display: none;
}
.iti-box.user .actions .partagesocial, .iti-box.user .actions .vote, #explorez .iti-box .actions .editer, #resultats .iti-box .actions .editer, #explorez .iti-box .actions .supprimer, #resultats .iti-box .actions .supprimer {
	display: none;
}
.iti-box h5 input[type="text"] {
    border: 1px dotted #444;
    padding: 2px 3px;
    width: 90%;
}
.iti-box h5 .newtitre {
    font-weight: bold;
}
.iti-box h5 .newtags input {
    margin-right: 4px;
    position: relative;
    top: 2px;
}
.iti-box h5 .newtags label {
    margin-right: 10px;
    position: relative;
    top: -3px;
    white-space: nowrap;
    display: block;
    float: left;
}
.iti-box h5 .newtags label:hover {
    cursor: pointer;
    color: #A4A4A4;
}
.iti-box h5 .newtags {
    font-size: 0.8em;
    font-weight: normal;
    margin-top: 0.35em;
}
textarea.newdesc  {
    border: 1px dotted #444;
    padding: 2px 3px;
    float: left;
    width: 75%;
    margin-top: 6px;
}
#resultats p {
    margin-left: 0;
}
#resultats .commentaires .auteur {
    display: block;
}
.actions .enregistrer:hover {
    background: url("../images/sprite.png") no-repeat scroll 0 -1583px transparent;
}
.actions .enregistrer {
    background: url("../images/sprite.png") no-repeat scroll 0 -1553px transparent;
    text-indent: 18px;
}
.actions .enregistrer, .actions .supprimer, .actions .favoriser, .actions .editer, .actions .publier, .actions .vote, .actions .partagesocial, .actions .imprimable, .actions .annuler, .actions .valider {
    float: left;
    font-size: 1.1em;
    margin-right: 10px;
}
.actions .publier:hover {
    background: url("../images/sprite.png") no-repeat scroll 0 -1663px transparent;
}
.actions .publier {
    background: url("../images/sprite.png") no-repeat scroll 0 -1704px transparent;
    height: 18px;
    text-indent: 18px;
}
.actions .supprimer:hover {
    background: url("../images/sprite.png") no-repeat scroll 0 -1739px transparent;
}
.actions .supprimer {
    background: url("../images/sprite.png") no-repeat scroll 0 -1784px transparent;
    height: 18px;
    text-indent: 18px;
}
.actions .vote:hover, .actions .vote.hasvoted {
    background: url("../images/sprite.png") no-repeat scroll 0 -660px transparent;
}
.actions .vote {
    background: url("../images/sprite.png") no-repeat scroll 0 -707px transparent;
    margin-right: 13px;
    text-indent: 18px;
}
.onglets {
    width: 110%;
}
.iti-box .onglets {
    margin-top:1.2em;
}
.onglet {
    display: block;
    float: left;
    padding: 4px 0;
    text-indent: 25px;
    border-bottom: 1px dotted black;
    border-top: 1px dotted black;
    border-left: 1px dotted black;
    background: #CACACA;
    background: -moz-linear-gradient(center left, #C4C4C4 2px, #E8E8E8 13px, #EAEAEA 32px) repeat scroll 0 0 #EAEAEA;
	background: -webkit-gradient(linear, 25% 50%, 0% 50%, from(#E4E4E4), to(#C4C4C4), color-stop(0.5,#E8E8E8));
    text-indent: 8px;
    letter-spacing: 0.1em
}
.onglet.actif.iti:before {
    background: url("../images/sprite.png") no-repeat scroll 0 -847px transparent;
}
.onglet.iti:before {
    background: url("../images/sprite.png") no-repeat scroll 0 -752px transparent;
    content: "";
    display: block;
    float: left;
    height: 16px;
    margin-left: 10px;
    width: 15px;
}
.onglet.actif.com:before {
    background: url("../images/sprite.png") no-repeat scroll 0 -1097px transparent;
}
.onglet.com {
    letter-spacing: 0.05em;
}
.onglet.com:before {
    background: url("../images/sprite.png") no-repeat scroll 0 -1167px transparent;
    content: "";
    display: block;
    float: left;
    height: 16px;
    margin-left: 10px;
    width: 15px;
}
.onglet.iti:before {
    background: url("../images/sprite.png") no-repeat scroll 0 -753px transparent;
    display: block;
    content: "";
    width: 15px;
    height: 16px;
    float: left;
    margin-left: 10px;
}

.onglets .onglet:first-child {
    border-left: none;
}

#connexion .onglet, .iti-box .onglet { width: 49%; left: -0.5em; }
 #trouvez .onglet { width: 32.3%; left: -0.9em; }
#trouvez .trouvez-actions .bouton.petit:first-child {
    margin-top: 6px !important;
}
#trouvez .trouvez-actions .bouton.petit:last-child {
    margin-bottom: 8px !important;
}
#trouvez .trouvez-actions .bouton.petit {
    margin-top: 7px !important;
    padding: 2px 5px;
    width: 100%;
}
#trouvez .trouvez-actions {
    width: 45%;
    float: left;
}
.partage-boutons {
    border-top: 1px dotted red;
    font-size: 0.8em;
}
.actions, .partage-boutons {
    height: 1.5em;
    margin: 0.3em -8px 0 -6px;
    padding: 4px 8px 0;
}
#explorez.module > .contenu, #moncompte > .contenu, #resultats > .contenu {
    background: none repeat scroll 0 0 transparent;
}
h5 .actions span, #resultats h5 .actions span {
    display: none;
}
.module .commentaires, .module .ajout-commentaire {
    display: none;
}
#resultats .contenu, #explorez .contenu {
    -moz-border-radius: 0 0 0 0;
	-webkit-border-radius: 0 0 0 0;
}
.module h4 {
    -moz-box-shadow: 0 0 5px #000000 inset;
	-webkit-box-shadow: 0 0 5px #000000 inset;
    background: url("../images/sprite.png") no-repeat scroll 30px -387px #1E1D20;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: 1px;
    padding: 4px 4px 4px 49px;
}
.module h4.ferme {
    background: url("../images/sprite.png") no-repeat scroll 30px -475px #1E1D20;
}
.module h4:first-child {
    margin-top: 0px;
}
/* h4.ferme + .contenu {
    display: none;
} */
/* h3.ferme + .contenu {
    display: none;
} */
.oeil {
    background: url("../images/sprite.png") no-repeat scroll 0 -1443px transparent;
    display: block;
    float: right;
    height: 12px;
    margin-top: 2px;
    width: 18px;
}
.iti-box.pieton .oeil.actif, .iti-box.pieton .oeil:hover, .iti-box.pieton:hover .oeil {
    background: url("../images/sprite.png") no-repeat scroll 0 -1511px transparent;
}
.iti-box.velo .oeil.actif, .iti-box.velo .oeil:hover, .iti-box.velo:hover .oeil {
    background: url("../images/sprite.png") no-repeat scroll 0 -1477px transparent;
}
.iti-box.velostar .oeil.actif, .iti-box.velostar .oeil:hover, .iti-box.velostar:hover .oeil {
    background: url("../images/sprite.png") no-repeat scroll 0 -1494px transparent;
}
.iti-box.bus .oeil.actif, .iti-box.bus .oeil:hover, .iti-box.bus:hover .oeil {
    background: url("../images/sprite.png") no-repeat scroll 0 -1511px transparent;
}
.iti-box.metro .oeil.actif, .iti-box.metro .oeil:hover, .iti-box.metro:hover .oeil {
    background: url("../images/sprite.png") no-repeat scroll 0 -1528px transparent;
}
.iti-box.tempo .distance {
    margin-left: 0.5em;
    font-weight:bold;
}
.iti-box .distance {
    font-weight:bold;
}
.iti-box .tags, .iti-box.tempo h5 .distance {
    display: inline;
}
.iti-box h5 strong {
    display: block;
    width: 100%;
    background: url("../images/sprite.png") no-repeat left -480px;
    text-indent: 15px;
    margin-left: 3px;
}
.iti-box.ouvert h5 strong {
    background: url("../images/sprite.png") no-repeat scroll left -391px transparent;
}
.iti-box h5 strong:hover {
    cursor:pointer;
}
.iti-box.ouvert .contenu {
    display: block;
}
#faq .question {
    color: #DADADA;
    font-size: 1.35em;
    font-style: italic;
    font-weight: bold;
    margin-left: 15px;
    margin-top: 1em;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}
#statique h3 {
    font-size: 2em;
}
#statique {
    -moz-border-radius: 8px 8px 8px 8px;
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.75);
	-webkit-border-radius: 8px 8px 8px 8px;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.75);
    background: none repeat scroll 0 0 #454348;
    color: #FFFFFF;
    display: none;
    height: 92%;
    right: 12%;
    overflow: auto;
    position: fixed;
    top: 4%;
    width: 76%;
    z-index: 999;
}
#statique a {
    color: #BABABA;
}
#contenu-statique {
    padding: 1.5em;
}
#overlay {
 	background:#C4C4C4;
    background: none repeat scroll 0 0 rgba(5, 5, 5, 0.6);
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 998;
}
#overlay:hover {
    cursor: pointer;
}
#user-stats + .contenu h6 {
    font-size: 1.1em;
    margin-bottom: 0.25em;
}
#user-stats + .contenu p {
    float: left;
    width: 49%;
    margin-left: 1%;
}
#user-stats + .contenu p.nostat {
    float: none;
    width: 100%;
    margin: 0;
}
#user-stats + .contenu img {
    width: 100%;
    margin-top: 0.75em;
}
#actionstaille a:active {
    background: #707070;
    background: -moz-linear-gradient(center bottom , #707070 20%, #404040 100%) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, 0% 0%, 0% 40%, from(#707070), to(#404040), color-stop(.5,#404040)) repeat scroll 0 0 transparent;
    color: #1780E9;
}
#actionstaille a {
	background:#BABABA;
    background: -moz-linear-gradient(center top , #707070 20%, #404040 100%) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, 0% 0%, 0% 40%, from(#404040), to(#707070), color-stop(.5,#707070)) repeat scroll 0 0 transparent;
    color: #CCCCCC;
    padding: 4px 6px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.8);
    display: block;
    height: 1.25em;
    float: left;
    line-height: 1.2em;
    -moz-box-shadow: 3px 3px 3px rgba(1,1,1,0.25);
	-webkit-box-shadow: 3px 3px 3px rgba(1,1,1,0.25);
}
#ie {display:none;}
#policeplus {
    -moz-border-radius: 0 4px 4px 0;
	-webkit-border-radius: 0 4px 4px 0;
    border-left: 1px solid #777777;
    margin-left: 0px;
    margin-right: 10px;
}
#policemoins {
    -moz-border-radius: 4px 0 0 4px;
	-webkit-border-radius: 4px 0 0 4px;
    border-right: 1px solid #444444;
}
#sideplus {
    -moz-border-radius:4px;
	-webkit-border-radius: 4px;
}
#sidemoins {
    -moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	margin-right:5px;
}
#actionstaille #sidemoins:active, #actionstaille #sideplus:active {
    background: #656565;
}
#actionstaille #sidemoins, #actionstaille #sideplus {
    border-left: 4px solid #444;
    padding-left: 4px;
    padding-right: 5px;
	background:#BABABA;
    background: -moz-linear-gradient(center top , #909090 20%, #808080 100%) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, 0% 0%, 0% 20%, from(#909090), to(#808080), color-stop(.5,#909090)) repeat scroll 0 0 transparent;
    display: block;
    line-height: 1.2em;
    font-weight: bold;
}
#resultats .iti-box:first-child {
    margin-top: -1px;
}
.iti-box:last-child.ouvert .contenu {
    -moz-border-radius: 0 0 8px 8px !important;
	-webkit-border-radius: 0 0 8px 8px !important;
}
.iti-box.ouvert h5 {
    -moz-border-radius: 0px;
	-webkit-border-radius: 0px;
}
#resultats .iti-box.tempo .contenu .onglets .actif {
    margin-top: -1.9em;
}
#resultats .iti-box.tempo .contenu .onglet {
    margin-top: -1.5em;
}
.iti-box.tempo .contenu p.auteur + div.clearfix {
    display: none;
}
.tooltip {
    -moz-border-radius: 0px 12px 12px 12px;
    -moz-box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.5);
	-webkit-border-radius: 0px 12px 12px 12px;
    -webkit-box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.5);
    background: none repeat scroll 0 0 #FAFAFA;
    color: #444;
    height: auto;
    width: 274px;
    padding: 7px 10px;
}
.tooltip.velostar .compact {
    float: left;
    width: auto;
}
.tooltip .tooltip-img + .compact {
    float: left;
	width: 213px;
}
.tooltip .infos .vente {
    display: block;
    background: url("../images/sprite.png") no-repeat scroll 0 -1630px transparent;
    width: 23px;
    height: 19px;
    float: right;
}
.tooltip .infos {
    border-top: 1px dotted black;
    display: block;
    font-size: 1.2em;
 	margin: 5px -10px;
    padding: 5px 10px;
}
.tooltip .infos strong {
	font-size: 1.25em;	
}
.tooltip img {
    float: left;
    margin-right: 10px;
}
.tooltip p.meta {
    font-style: italic;
}
.tooltip .infos p.meta {
    font-size: 0.8em;
}
.tooltip p {
    float: left;
    letter-spacing: 0.025em;
}
.tooltip h6 {
    float: left;
    font-size: 1.3em;
    white-space: pre-line;
    line-height: 1.1em;
    margin-bottom: 0.25em;
}
.tooltip.user {
    border-left: 4px solid #505050;
    border-right: 4px solid #505050;
}
.tooltip.velostar {
    border-left: 4px solid #2cb34a;
    border-right: 4px solid #2cb34a;
}
.tooltip.velostar .ordre {
    background: #2CB34A;
}
.tooltip.bus {
    border-left: 4px solid #ffb20d;
    border-right: 4px solid #ffb20d;
}
.tooltip.bus .ordre {
    background: #FFB20D;
}
.tooltip.metro {
    border-left: 4px solid #ef4a43;
    border-right: 4px solid #ef4a43;
}
.tooltip.metro .ordre {
    background: #EF4A43;
}
.tooltip.focus.user {
    -moz-box-shadow: 0 0 2px #505050, 2px 3px 6px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 2px #505050, 2px 3px 6px rgba(0, 0, 0, 0.5);
}
.tooltip.focus.velostar {
    -moz-box-shadow: 0 0 2px #2cb34a, 2px 3px 6px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 2px #2cb34a, 2px 3px 6px rgba(0, 0, 0, 0.5);
}
.tooltip.focus.bus {
    -moz-box-shadow: 0 0 2px #ffb20d, 2px 3px 6px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 2px #ffb20d, 2px 3px 6px rgba(0, 0, 0, 0.5);
}
.tooltip.focus.metro {
    -moz-box-shadow: 0 0 2px #ef4a43, 2px 3px 6px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 2px #ef4a43, 2px 3px 6px rgba(0, 0, 0, 0.5);
}
.tooltip.focus {
	background: #F2F2F2;
}
.ordre {
    -moz-border-radius: 8px 0 0 8px;
	-webkit-border-radius: 8px 0 0 8px;
    background: none repeat scroll 0 0 #505050;
    font-size: 1.5em;
    font-weight: bold;
    padding: 0 6px 0 7px;
    position: absolute;
    top: 0px;
    color: #fafafa;
    right: 100%;
}
#itinerennes-prives + .contenu, #itinerennes-favoris + .contenu {
    padding: 0px !important;
	background: none;
}
#moncompte .logout {
    float: right;
    font-size: 0.75em;
    font-weight: normal;
    letter-spacing: 0.075em;
    line-height: 1.75em;
}
#chargement {
    display: block;
    width: 10px;
    height: 10px;
    content: "";
    background: #FFF;
    float: right;
    display: none;
}
.paginator-links {
    float: right;
}
.paginator .current-page {
    margin-left: 0.75em;
}
.paginator p, .paginator a {
    display: inline;
    margin-right: 1em;
}
.paginator {
    background: #FAFAFA;
    margin-top: 1px;
    width: 100%;
    height: 1.5em;
}

/********************* IMAGE UPLOAD ************************/
.qq-uploader {
    position: relative;
    width: 97%;
}
.qq-upload-button.bouton.petit {
    display: block;
    text-align: center;
    margin-top: 0.5em !important;
}
.qq-upload-button-focus {
    outline: 1px dotted black;
}
.qq-upload-drop-area {
    background: none repeat scroll 0 0 #FF9797;
    height: 100%;
    left: 0;
    min-height: 70px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 2;
}
.qq-upload-drop-area span {
    display: block;
    font-size: 16px;
    margin-top: -8px;
    position: absolute;
    top: 50%;
    width: 100%;
}
.qq-upload-drop-area-active {
    background: none repeat scroll 0 0 #FF7171;
}
.qq-upload-list {
    list-style: none;
    margin: 5px;
    padding: 0;
}
.qq-upload-list li {
    font-size: 0.9em;
    line-height: 15px;
    margin: 0;
    padding: 0;
}
.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {
    margin-right: 10px;
}
.qq-upload-file {
}
.qq-upload-spinner {
    background: url("/media/images/upload-loading.gif") repeat scroll 0 0 transparent;
    display: inline-block;
    height: 15px;
    vertical-align: text-bottom;
    width: 15px;
}
.qq-upload-size, .qq-upload-cancel {
    font-size: 0.9em;
}
.qq-upload-failed-text {
    display: none;
}
.qq-upload-fail .qq-upload-failed-text {
    display: inline;
}
.photo-taille-normale {
    width: 500px;
    height: 500px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -250px;
    margin-top: -250px;
}
.aucun p {
    padding: 0.5em 0.75em;
}
.aucun {
    background: #F4F4F4;
}
#itinerennes-favoris.titre.ferme, #explorez .titre.plus-recents.ferme, #perturbations .contenu {
    -moz-border-radius: 0px 0px 8px 8px;
	-webkit-border-radius: 0px 0px 8px 8px;
}
#mobilenav {display:none;}
.raz-important {
	border:1px solid #1780E9;
	-moz-box-shadow: 0px 0px 3px #1780E9;	
	-webkit-box-shadow: 0px 0px 3px #1780E9;
}

/****************** GOOGLEMAP ******************/

#map{
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    top: 0;
    width: 70%;
	z-index:222;
}